.heading {
    text-align: center;
    margin: 20px;
}

.news {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-around;
}

.card {
    height: 25rem;
}

.image {
    width: 100%;
    height: 35%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-title{
    height: 94px;
    font-size: 18px;
    /* overflow-x: auto;
    overflow-y: scroll; */
}
.card-text{
    height: 76px;
    /* overflow-x: auto;
    overflow-y: scroll; */
    font-size: 15px;
}
.card-body{
    height: 50%;
    padding-inline: 10px;
}
.custom-scrollbar {
    overflow-x: auto;
    overflow-y: scroll;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    height: 20px;
  }